openapi: 3.0.3
info:
  title: Viggle API
  description: Generate AI-powered character animation videos
  version: '2.0.0'
  contact:
    name: Viggle Support
    url: https://viggle.ai
servers:
  - url: https://apis.viggle.ai
    description: Production server

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key passed as Bearer token

  schemas:
    Character:
      type: object
      properties:
        id:
          type: string
          example: 550e8400-e29b-41d4-a716-446655440000
        name:
          type: string
          example: My Character
        status:
          type: string
          enum: [pending, processing, ready, failed]
        job_id:
          type: string
          nullable: true
          example: char_550e8400e29b
        error_message:
          type: string
          nullable: true
        credits_used:
          type: number
          nullable: true
          example: 1.0
        created_at:
          type: string
          format: date-time
          nullable: true
        completed_at:
          type: string
          format: date-time
          nullable: true

    CharacterCreated:
      type: object
      properties:
        character_id:
          type: string
          example: 550e8400-e29b-41d4-a716-446655440000
        job_id:
          type: string
          example: char_550e8400e29b
        status:
          type: string
          example: pending
        enqueued_at:
          type: string
          format: date-time

    CharacterListItem:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        status:
          type: string
          enum: [pending, processing, ready, failed]
        created_at:
          type: string
          format: date-time
          nullable: true
        completed_at:
          type: string
          format: date-time
          nullable: true

    Scene:
      type: object
      properties:
        id:
          type: string
          example: 660e8400-e29b-41d4-a716-446655440000
        name:
          type: string
          example: Dance Sequence
        status:
          type: string
          enum: [pending, ready, failed]
        duration_seconds:
          type: number
          nullable: true
          example: 6.67
        fps:
          type: number
          nullable: true
          example: 30.0
        total_frames:
          type: integer
          nullable: true
          example: 200
        width:
          type: integer
          nullable: true
          example: 1920
        height:
          type: integer
          nullable: true
          example: 1080
        job_id:
          type: string
          nullable: true
          example: scene_660e8400e29b
        error_message:
          type: string
          nullable: true
        credits_used:
          type: number
          nullable: true
          example: 6.67
        created_at:
          type: string
          format: date-time
          nullable: true
        completed_at:
          type: string
          format: date-time
          nullable: true

    SceneCreated:
      type: object
      properties:
        scene_id:
          type: string
          example: 660e8400-e29b-41d4-a716-446655440000
        job_id:
          type: string
          example: scene_660e8400e29b
        status:
          type: string
          example: pending
        enqueued_at:
          type: string
          format: date-time

    SceneListItem:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        status:
          type: string
          enum: [pending, ready, failed]
        duration_seconds:
          type: number
          nullable: true
        created_at:
          type: string
          format: date-time
          nullable: true
        completed_at:
          type: string
          format: date-time
          nullable: true

    SceneImported:
      type: object
      properties:
        id:
          type: string
          example: 770e8400-e29b-41d4-a716-446655440000
        status:
          type: string
          example: pending
        credits_reserved:
          type: number
          example: 15
        segments:
          type: array
          items:
            type: object
            properties:
              uuid:
                type: string
                example: person_a1b2c3d4
              type:
                type: string
                example: human

    RenderJob:
      type: object
      properties:
        job_id:
          type: string
          example: job_abc123xyz
        status:
          type: string
          enum: [queued, processing, complete, failed, cancelled]
        mode:
          type: string
          description: The render mode used (e.g. full_pipeline, preprocessed, fast)
          nullable: true
        checkpoint:
          type: string
          description: Current processing stage within the pipeline
          nullable: true
        progress_pct:
          type: number
          description: Estimated progress percentage (0-100)
          nullable: true
          example: 60.0
        cdn_url:
          type: string
          format: uri
          nullable: true
          description: CDN URL to download the final video (available when status is complete)
        mask_cdn_url:
          type: string
          format: uri
          nullable: true
          description: CDN URL for the alpha/mask video (transparent mode only). White = character, black = background. Use with cdn_url for compositing.
        error_code:
          type: string
          nullable: true
          description: Structured error code (e.g. CS-UORC01-002) when status is failed
        error_message:
          type: string
          nullable: true
          description: Human-readable error description when status is failed
        chunks:
          type: array
          items:
            type: object
          description: Always an empty array in v2. Retained for backward compatibility.
        created_at:
          type: string
          format: date-time
          nullable: true
          description: Timestamp when the job was created
        completed_at:
          type: string
          format: date-time
          nullable: true
          description: Timestamp when the job completed

    RenderCreated:
      type: object
      properties:
        job_id:
          type: string
          example: job_abc123xyz
        status:
          type: string
          example: queued
        mode:
          type: string
          description: The render mode (e.g. full_pipeline, preprocessed, fast)
          example: full_pipeline
        enqueued_at:
          type: string
          format: date-time

    RenderDeleted:
      type: object
      properties:
        status:
          type: string
          example: deleted
        job_id:
          type: string
          example: job_abc123xyz

    Error:
      type: object
      properties:
        detail:
          type: string
          example: "API key required. Use Authorization: Bearer sk-xxx"

    Deleted:
      type: object
      properties:
        status:
          type: string
          example: deleted

    CreditBalance:
      type: object
      properties:
        user_id:
          type: string
          example: usr_550e8400e29b41d4
        organization_id:
          type: string
          nullable: true
          description: Organization ID if the API key belongs to an organization
        credits_available:
          type: number
          example: 250.0
        contract_id:
          type: string
          nullable: true
          description: Contract ID if the user has a contract-based pricing plan

paths:
  # ──────────────────────────────────────────────
  # Credits
  # ──────────────────────────────────────────────
  /api/credits:
    get:
      summary: Get Credit Balance
      description: Retrieve the current credit balance for the authenticated user.
      operationId: getCreditBalance
      tags:
        - Credits
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Credit balance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditBalance'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ──────────────────────────────────────────────
  # Characters
  # ──────────────────────────────────────────────
  /api/characters/preprocess:
    post:
      summary: Create Character
      description: Upload a reference image to create a reusable character. Processing runs in background. Costs 1 credit. Poll GET /api/characters/{id} until status is ready.
      operationId: createCharacter
      tags:
        - Characters
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - name
                - image
              properties:
                name:
                  type: string
                  description: Display name for the character
                  example: My Character
                image:
                  type: string
                  format: binary
                  description: Reference image file (PNG, JPG, WebP)
      responses:
        '200':
          description: Character creation started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterCreated'
        '400':
          description: Invalid image type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '402':
          description: Insufficient credits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    get:
      summary: List Characters
      description: List all characters for the authenticated user, ordered by most recent first.
      operationId: listCharacters
      tags:
        - Characters
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of characters
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CharacterListItem'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/characters/{character_id}:
    get:
      summary: Get Character
      description: Get full details of a specific character including processing status.
      operationId: getCharacter
      tags:
        - Characters
      security:
        - bearerAuth: []
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
          example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '200':
          description: Character details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Character'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Character not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      summary: Delete Character
      description: Soft-delete a character. The character will no longer appear in lists but existing renders using it are not affected.
      operationId: deleteCharacter
      tags:
        - Characters
      security:
        - bearerAuth: []
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
          example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '200':
          description: Character deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deleted'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Character not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ──────────────────────────────────────────────
  # Scenes
  # ──────────────────────────────────────────────
  /api/scenes/preprocess:
    post:
      summary: Create Scene
      description: Upload a driving video to create a reusable scene. Extracts motion data for character animation. Scene creation is free. Credits are consumed at render time. Poll GET /api/scenes/{id} until status is ready.
      operationId: createScene
      tags:
        - Scenes
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - name
                - video
              properties:
                name:
                  type: string
                  description: Display name for the scene
                  example: Dance Sequence
                video:
                  type: string
                  format: binary
                  description: Driving video file (MP4, MOV, WebM)
                background_mode:
                  type: string
                  enum: [original, inpaint, solid, transparent]
                  default: original
                  description: "Background handling for the scene: original (keep video background, default), inpaint (AI fill), solid (single color), transparent (alpha mask)"
                model:
                  type: string
                  enum: [V4_Preview, V3_Preview]
                  default: V4_Preview
                  description: Avatar model to preprocess the scene with. The scene can only be rendered with the same model.
      responses:
        '200':
          description: Scene creation started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SceneCreated'
        '400':
          description: Invalid video type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '402':
          description: Insufficient credits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    get:
      summary: List Scenes
      description: List all scenes for the authenticated user, ordered by most recent first.
      operationId: listScenes
      tags:
        - Scenes
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of scenes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SceneListItem'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/scenes/import:
    post:
      summary: Import Template
      description: Import a scene from a Viggle template. Supports multi-person templates (with tracked segments for multi-character render) and video templates (plain video for single-character render).
      operationId: importScene
      tags:
        - Scenes
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - template_id
              properties:
                template_id:
                  type: string
                  description: Viggle template UUID (multi-person or video template)
                  example: template_uuid
                name:
                  type: string
                  description: Optional display name for the scene
                  example: Group Dance
      responses:
        '200':
          description: Scene imported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SceneImported'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Template not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/scenes/{scene_id}:
    get:
      summary: Get Scene
      description: Get full details of a specific scene including video metadata and processing status.
      operationId: getScene
      tags:
        - Scenes
      security:
        - bearerAuth: []
      parameters:
        - name: scene_id
          in: path
          required: true
          schema:
            type: string
          example: 660e8400-e29b-41d4-a716-446655440000
      responses:
        '200':
          description: Scene details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scene'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Scene not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      summary: Delete Scene
      description: Soft-delete a scene. The scene will no longer appear in lists but existing renders using it are not affected.
      operationId: deleteScene
      tags:
        - Scenes
      security:
        - bearerAuth: []
      parameters:
        - name: scene_id
          in: path
          required: true
          schema:
            type: string
          example: 660e8400-e29b-41d4-a716-446655440000
      responses:
        '200':
          description: Scene deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deleted'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Scene not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ──────────────────────────────────────────────
  # Render
  # ──────────────────────────────────────────────
  /api/render:
    post:
      summary: Create Render Job
      description: Start a video render job. Accepts multipart/form-data with file uploads and render options as form fields.
      operationId: createRenderJob
      tags:
        - Render
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                ref_image:
                  type: string
                  format: binary
                  description: Character reference image file (PNG, JPG). Required for on-demand renders.
                driving_video:
                  type: string
                  format: binary
                  description: Driving video file (MP4). Required for on-demand renders and fast mode.
                character_id:
                  type: string
                  description: ID of a ready character (for preprocessed renders)
                  example: char_550e8400e29b41d4
                scene_id:
                  type: string
                  description: ID of a ready scene (for preprocessed renders)
                  example: scene_660e8400e29b41d4
                character_mapping:
                  type: string
                  description: JSON string mapping segment UUIDs to character IDs (for multi-character render)
                  example: '{"person_a1b2c3d4": "char_alice", "person_e5f6g7h8": "char_bob"}'
                model:
                  type: string
                  enum: [V4_Preview, V3_Preview]
                  default: V4_Preview
                  description: Avatar model. V3_Preview uses a different rendering model with a dedicated GPU pool. Scenes preprocessed on one model cannot be rendered on the other.
                background_mode:
                  type: string
                  enum: [original, inpaint, solid, transparent]
                  default: original
                  description: "Background handling: original (keep video background, default), inpaint (AI fill), solid (single color), transparent (alpha mask for compositing)"
                bg_color:
                  type: string
                  description: 'RGB string for solid background color, e.g., "0,255,0". Only used when background_mode is solid.'
                  example: '0,255,0'
                fast:
                  type: boolean
                  default: false
                  description: Enable fast mode for 2x rendering speed. Costs 2x credits. Requires a driving_video upload or a scene_id.
      responses:
        '200':
          description: Render job created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RenderCreated'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '402':
          description: Insufficient credits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Asset not ready or invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/render/{job_id}:
    get:
      summary: Get Job Status
      description: Check render job status and progress. Returns immediately. Poll every 3-5 seconds until status is complete or failed. Use the cdn_url field to download the final video.
      operationId: getRenderJobStatus
      tags:
        - Render
      security: []
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
          example: job_abc123xyz
      responses:
        '200':
          description: Job status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RenderJob'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '410':
          description: Result expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/render/{job_id}/download:
    get:
      summary: Download Video
      description: Redirects to the CDN URL for the completed video. Returns 302 redirect when the job is complete. Returns 400 if the job is not yet complete. This is a convenience endpoint — the same `cdn_url` is available in the GET /api/render/{job_id} status response.
      operationId: downloadVideo
      tags:
        - Render
      security:
        - bearerAuth: []
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
          example: job_abc123xyz
      responses:
        '302':
          description: Redirect to CDN URL
        '400':
          description: Job not complete yet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      summary: Cancel Job
      description: Cancel a running job or delete a completed one. Releases reserved resources and refunds credits for incomplete jobs.
      operationId: cancelRenderJob
      tags:
        - Render
      security:
        - bearerAuth: []
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
          example: job_abc123xyz
      responses:
        '200':
          description: Job cancelled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RenderDeleted'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
