openapi: 3.0.3
info:
  title: Viggle API
  description: Generate AI-powered character animation videos
  version: '2.0.0'
  contact:
    name: Viggle Support
    url: https://viggle.ai
servers:
  - url: https://apis.viggle.ai
    description: Production server

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key passed as Bearer token

  schemas:
    Character:
      type: object
      properties:
        id:
          type: string
          example: 550e8400-e29b-41d4-a716-446655440000
        name:
          type: string
          example: My Character
        status:
          type: string
          enum: [pending, ready, failed]
        job_id:
          type: string
          nullable: true
          example: char_550e8400e29b
        error_message:
          type: string
          nullable: true
        credits_used:
          type: number
          nullable: true
          example: 1.0
        created_at:
          type: string
          format: date-time
          nullable: true
        completed_at:
          type: string
          format: date-time
          nullable: true

    CharacterCreated:
      type: object
      properties:
        id:
          type: string
          example: 550e8400-e29b-41d4-a716-446655440000
        job_id:
          type: string
          example: char_550e8400e29b
        name:
          type: string
          example: My Character
        status:
          type: string
          example: pending
        credits_reserved:
          type: number
          example: 1.0

    CharacterListItem:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        status:
          type: string
          enum: [pending, ready, failed]
        created_at:
          type: string
          format: date-time
          nullable: true
        completed_at:
          type: string
          format: date-time
          nullable: true

    Scene:
      type: object
      properties:
        id:
          type: string
          example: 660e8400-e29b-41d4-a716-446655440000
        name:
          type: string
          example: Dance Sequence
        status:
          type: string
          enum: [pending, ready, failed]
        duration_seconds:
          type: number
          nullable: true
          example: 6.67
        fps:
          type: number
          nullable: true
          example: 30.0
        total_frames:
          type: integer
          nullable: true
          example: 200
        width:
          type: integer
          nullable: true
          example: 1920
        height:
          type: integer
          nullable: true
          example: 1080
        total_chunks:
          type: integer
          nullable: true
          example: 8
        job_id:
          type: string
          nullable: true
          example: scene_660e8400e29b
        error_message:
          type: string
          nullable: true
        credits_used:
          type: number
          nullable: true
          example: 6.67
        created_at:
          type: string
          format: date-time
          nullable: true
        completed_at:
          type: string
          format: date-time
          nullable: true

    SceneCreated:
      type: object
      properties:
        id:
          type: string
          example: 660e8400-e29b-41d4-a716-446655440000
        job_id:
          type: string
          example: scene_660e8400e29b
        name:
          type: string
          example: Dance Sequence
        status:
          type: string
          example: pending
        credits_reserved:
          type: number
          example: 6.67
        duration_seconds:
          type: number
          example: 6.67

    SceneListItem:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        status:
          type: string
          enum: [pending, ready, failed]
        duration_seconds:
          type: number
          nullable: true
        created_at:
          type: string
          format: date-time
          nullable: true
        completed_at:
          type: string
          format: date-time
          nullable: true

    SceneImported:
      type: object
      properties:
        id:
          type: string
          example: 770e8400-e29b-41d4-a716-446655440000
        status:
          type: string
          example: pending
        credits_reserved:
          type: number
          example: 15
        segments:
          type: array
          items:
            type: object
            properties:
              uuid:
                type: string
                example: person_a1b2c3d4
              type:
                type: string
                example: human

    RenderJob:
      type: object
      properties:
        job_id:
          type: string
          example: job_abc123xyz
        status:
          type: string
          enum: [queued, processing, rendering, complete, failed]
        progress:
          type: object
          properties:
            completed_chunks:
              type: integer
            total_chunks:
              type: integer
            percent:
              type: number
              example: 60.0
        cdn_url:
          type: string
          format: uri
          nullable: true
          description: CDN URL to download complete video (when status is complete)
        mask_cdn_url:
          type: string
          format: uri
          nullable: true
          description: CDN URL for mask video (transparent background mode only)
        mask_download_url:
          type: string
          nullable: true
          description: URL to download mask video (transparent background mode only)
        chunks:
          type: array
          items:
            type: object
            properties:
              chunk_id:
                type: integer
              cdn_url:
                type: string
                format: uri
          description: Array of individual chunks with their CDN URLs
        error:
          type: string
          nullable: true

    RenderCreated:
      type: object
      properties:
        job_id:
          type: string
          example: job_abc123xyz
        status:
          type: string
          example: queued

    RenderDeleted:
      type: object
      properties:
        status:
          type: string
          example: deleted
        job_id:
          type: string
          example: job_abc123xyz

    PollResponse:
      type: object
      properties:
        status:
          type: string
          enum: [queued, processing, rendering, complete, failed]
        new_chunks:
          type: array
          items:
            type: object
            properties:
              chunk_id:
                type: integer
              cdn_url:
                type: string
                format: uri
        progress:
          type: object
          properties:
            completed_chunks:
              type: integer
            total_chunks:
              type: integer
        queue_position:
          type: integer
        cdn_url:
          type: string
          format: uri
          nullable: true
          description: CDN URL to complete video (when status is complete)
        mask_cdn_url:
          type: string
          format: uri
          nullable: true
          description: CDN URL for mask video (transparent background mode only)
        error:
          type: string
          nullable: true

    Error:
      type: object
      properties:
        detail:
          type: string
          example: "API key required. Use Authorization: Bearer sk-xxx"

    Deleted:
      type: object
      properties:
        status:
          type: string
          example: deleted

    CreditBalance:
      type: object
      properties:
        credits_available:
          type: number
          example: 250.0
        user_id:
          type: string
          example: usr_550e8400e29b41d4

paths:
  # ──────────────────────────────────────────────
  # Credits
  # ──────────────────────────────────────────────
  /api/credits:
    get:
      summary: Get Credit Balance
      description: Retrieve the current credit balance for the authenticated user.
      operationId: getCreditBalance
      tags:
        - Credits
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Credit balance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditBalance'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ──────────────────────────────────────────────
  # Characters
  # ──────────────────────────────────────────────
  /api/characters/preprocess:
    post:
      summary: Create Character
      description: Upload a reference image to create a reusable character. Processing runs in background. Costs 1 credit. Poll GET /api/characters/{id} until status is ready.
      operationId: createCharacter
      tags:
        - Characters
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - name
                - image
              properties:
                name:
                  type: string
                  description: Display name for the character
                  example: My Character
                image:
                  type: string
                  format: binary
                  description: Reference image file (PNG, JPG, WebP)
      responses:
        '200':
          description: Character preprocessing started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterCreated'
        '400':
          description: Invalid image type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '402':
          description: Insufficient credits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/characters:
    get:
      summary: List Characters
      description: List all characters for the authenticated user, ordered by most recent first.
      operationId: listCharacters
      tags:
        - Characters
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of characters
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CharacterListItem'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/characters/{character_id}:
    get:
      summary: Get Character
      description: Get full details of a specific character including preprocessing status.
      operationId: getCharacter
      tags:
        - Characters
      security:
        - bearerAuth: []
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
          example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '200':
          description: Character details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Character'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Character not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      summary: Delete Character
      description: Soft-delete a character. The character will no longer appear in lists but existing renders using it are not affected.
      operationId: deleteCharacter
      tags:
        - Characters
      security:
        - bearerAuth: []
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
          example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '200':
          description: Character deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deleted'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Character not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ──────────────────────────────────────────────
  # Scenes
  # ──────────────────────────────────────────────
  /api/scenes/preprocess:
    post:
      summary: Create Scene
      description: Upload a driving video to create a reusable scene. Extracts motion data for character animation. Costs 1 credit per second of video. Poll GET /api/scenes/{id} until status is ready.
      operationId: createScene
      tags:
        - Scenes
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - name
                - video
              properties:
                name:
                  type: string
                  description: Display name for the scene
                  example: Dance Sequence
                video:
                  type: string
                  format: binary
                  description: Driving video file (MP4, MOV, WebM)
      responses:
        '200':
          description: Scene preprocessing started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SceneCreated'
        '400':
          description: Invalid video type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '402':
          description: Insufficient credits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/scenes/import:
    post:
      summary: Import Multi-Person Template
      description: Import a multi-person scene from a Viggle template. Returns segment UUIDs for use in multi-character render.
      operationId: importScene
      tags:
        - Scenes
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - template_id
              properties:
                template_id:
                  type: string
                  description: Viggle multi-person template UUID
                  example: template_uuid
                name:
                  type: string
                  description: Optional display name for the scene
                  example: Group Dance
      responses:
        '200':
          description: Scene imported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SceneImported'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Template not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/scenes:
    get:
      summary: List Scenes
      description: List all scenes for the authenticated user, ordered by most recent first.
      operationId: listScenes
      tags:
        - Scenes
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of scenes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SceneListItem'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/scenes/{scene_id}:
    get:
      summary: Get Scene
      description: Get full details of a specific scene including video metadata and preprocessing status.
      operationId: getScene
      tags:
        - Scenes
      security:
        - bearerAuth: []
      parameters:
        - name: scene_id
          in: path
          required: true
          schema:
            type: string
          example: 660e8400-e29b-41d4-a716-446655440000
      responses:
        '200':
          description: Scene details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scene'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Scene not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      summary: Delete Scene
      description: Soft-delete a scene. The scene will no longer appear in lists but existing renders using it are not affected.
      operationId: deleteScene
      tags:
        - Scenes
      security:
        - bearerAuth: []
      parameters:
        - name: scene_id
          in: path
          required: true
          schema:
            type: string
          example: 660e8400-e29b-41d4-a716-446655440000
      responses:
        '200':
          description: Scene deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deleted'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Scene not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ──────────────────────────────────────────────
  # Render
  # ──────────────────────────────────────────────
  /api/render:
    post:
      summary: Create Render Job
      description: Start a video render job. Accepts multipart/form-data with character/scene IDs and render options as form fields. Both character and scene must have status ready.
      operationId: createRenderJob
      tags:
        - Render
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - scene_id
              properties:
                character_id:
                  type: string
                  description: ID of a ready character (required for single-character render)
                  example: char_550e8400e29b41d4
                scene_id:
                  type: string
                  description: ID of a ready scene
                  example: scene_660e8400e29b41d4
                character_mapping:
                  type: string
                  description: JSON string mapping segment UUIDs to character IDs (for multi-character render)
                  example: '{"person_a1b2c3d4": "char_alice", "person_e5f6g7h8": "char_bob"}'
                model:
                  type: string
                  enum: [V4]
                  default: V4
                  description: Rendering model. Currently only V4 is available.
                background_mode:
                  type: string
                  enum: [inpaint, original, solid, transparent]
                  default: inpaint
                  description: Background handling mode
                bg_color:
                  type: string
                  description: 'RGB string for solid background color, e.g., "0,255,0". Only used when background_mode is solid.'
                  example: '0,255,0'
                resolution:
                  type: string
                  enum: [original, 720p, 1080p]
                  default: original
                  description: Output resolution
                fast:
                  type: boolean
                  default: false
                  description: Enable fast mode for faster rendering
      responses:
        '200':
          description: Render job created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RenderCreated'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '402':
          description: Insufficient credits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Asset not ready or invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/render/{job_id}:
    get:
      summary: Get Job Status (Batch Render)
      description: Check job status. Returns immediately. No authentication required. Poll every 5 seconds until complete or failed.
      operationId: getRenderJobStatus
      tags:
        - Render
      security: []
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
          example: job_abc123xyz
      responses:
        '200':
          description: Job status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RenderJob'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      summary: Cancel / Delete Job
      description: Cancel a running job or delete a completed one. Releases reserved resources and refunds credits for incomplete jobs.
      operationId: cancelRenderJob
      tags:
        - Render
      security:
        - bearerAuth: []
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
          example: job_abc123xyz
      responses:
        '200':
          description: Job deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RenderDeleted'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/render/{job_id}/poll:
    get:
      summary: Poll for Chunks (Live Render)
      description: Long-poll for new video chunks. Blocks until chunks are ready, job completes, or timeout. Use for real-time progressive playback.
      operationId: pollRenderChunks
      tags:
        - Render
      security:
        - bearerAuth: []
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
          example: job_abc123xyz
        - name: last_chunk
          in: query
          schema:
            type: integer
            default: -1
          description: Return chunks after this chunk ID. Use -1 for first poll.
        - name: timeout
          in: query
          schema:
            type: integer
            default: 30
            maximum: 60
          description: Max seconds to wait
      responses:
        '200':
          description: Poll response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PollResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/render/{job_id}/download:
    get:
      summary: Download Video
      description: Download the completed video. Only available when job status is complete. Returns a 302 redirect to the CDN URL.
      operationId: downloadRenderVideo
      tags:
        - Render
      security:
        - bearerAuth: []
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
          example: job_abc123xyz
      responses:
        '302':
          description: Redirect to CDN URL
          headers:
            Location:
              schema:
                type: string
                format: uri
              description: CDN URL for the video file
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Job not found or not complete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/render/{job_id}/download/mask:
    get:
      summary: Download Mask Video
      description: Download the mask video for transparent mode renders. Only available when background_mode was transparent and job is complete. Returns a 302 redirect to the CDN URL.
      operationId: downloadRenderMask
      tags:
        - Render
      security:
        - bearerAuth: []
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
          example: job_abc123xyz
      responses:
        '302':
          description: Redirect to mask CDN URL
          headers:
            Location:
              schema:
                type: string
                format: uri
              description: CDN URL for the mask video file
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No mask available (job not found, not complete, or not transparent mode)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
