openapi: 3.0.3
info:
  title: Viggle API
  description: Generate AI-powered character animation videos
  version: '2.0.0'
  contact:
    name: Viggle Support
    url: https://viggle.ai
servers:
  - url: https://api.viggle.ai
    description: Production server

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key passed as Bearer token

  schemas:
    RenderJob:
      type: object
      properties:
        job_id:
          type: string
          example: job_abc123xyz
        status:
          type: string
          enum: [queued, processing, rendering, complete, failed]
        progress:
          type: object
          properties:
            completed_chunks:
              type: integer
            total_chunks:
              type: integer
            percent:
              type: number
              example: 60.0
        cdn_url:
          type: string
          format: uri
          nullable: true
          description: CDN URL to download complete video (when status is complete)
        chunks:
          type: array
          items:
            type: object
            properties:
              chunk_id:
                type: integer
              cdn_url:
                type: string
                format: uri
          description: Array of individual chunks with their CDN URLs
        error:
          type: string
          nullable: true

    RenderCreated:
      type: object
      properties:
        job_id:
          type: string
          example: job_abc123xyz
        status:
          type: string
          example: queued

    RenderDeleted:
      type: object
      properties:
        status:
          type: string
          example: deleted
        job_id:
          type: string
          example: job_abc123xyz

    PollResponse:
      type: object
      properties:
        status:
          type: string
          enum: [queued, processing, rendering, complete, failed]
        new_chunks:
          type: array
          items:
            type: object
            properties:
              chunk_id:
                type: integer
              cdn_url:
                type: string
                format: uri
        progress:
          type: object
          properties:
            completed_chunks:
              type: integer
            total_chunks:
              type: integer
        queue_position:
          type: integer
        cdn_url:
          type: string
          format: uri
          nullable: true
          description: CDN URL to complete video (when status is complete)
        error:
          type: string
          nullable: true

    Error:
      type: object
      properties:
        detail:
          type: string
          example: API key required. Use Authorization: Bearer sk-xxx

paths:
  /api/render:
    post:
      summary: Create Render Job
      description: Start a video render job. Accepts multipart/form-data with character/scene IDs and render options as form fields. Both character and scene must have status ready.
      operationId: createRenderJob
      tags:
        - Render
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - scene_id
              properties:
                character_id:
                  type: string
                  description: ID of a ready character (required for single-character render)
                  example: char_550e8400e29b41d4
                scene_id:
                  type: string
                  description: ID of a ready scene
                  example: scene_660e8400e29b41d4
                character_mapping:
                  type: string
                  description: JSON string mapping segment UUIDs to character IDs (for multi-character render)
                  example: '{"person_a1b2c3d4": "char_alice", "person_e5f6g7h8": "char_bob"}'
                model:
                  type: string
                  enum: [V3, V4]
                  default: V4
                  description: Rendering model. V4 (default, better quality) or V3 (faster).
                background_mode:
                  type: string
                  enum: [inpaint, original, solid, transparent]
                  default: inpaint
                  description: Background handling mode
                bg_color:
                  type: string
                  description: 'RGB string for solid background color, e.g., "0,255,0". Only used when background_mode is solid.'
                  example: '0,255,0'
                output_fps:
                  type: integer
                  nullable: true
                  description: Output frame rate. Omit to match input video.
                resolution:
                  type: string
                  enum: [original, 720p, 1080p]
                  default: original
                  description: Output resolution
                mask_dilation:
                  type: integer
                  default: 0
                  minimum: 0
                  maximum: 20
                  description: Pixel dilation applied to the character mask (0-20)
                fast:
                  type: boolean
                  default: false
                  description: Enable parallel processing for ~2x speed
      responses:
        '200':
          description: Render job created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RenderCreated'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '402':
          description: Insufficient credits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Asset not ready or invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/render/{job_id}:
    get:
      summary: Get Job Status (Batch Render)
      description: Check job status. Returns immediately. No authentication required. Poll every 5 seconds until complete or failed.
      operationId: getRenderJobStatus
      tags:
        - Render
      security: []
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
          example: job_abc123xyz
      responses:
        '200':
          description: Job status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RenderJob'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      summary: Cancel / Delete Job
      description: Cancel a running job or delete a completed one. Releases reserved GPU workers and refunds credits for incomplete jobs.
      operationId: cancelRenderJob
      tags:
        - Render
      security:
        - bearerAuth: []
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
          example: job_abc123xyz
      responses:
        '200':
          description: Job deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RenderDeleted'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/render/{job_id}/poll:
    get:
      summary: Poll for Chunks (Live Render)
      description: Long-poll for new video chunks. Blocks until chunks are ready, job completes, or timeout. Use for real-time progressive playback.
      operationId: pollRenderChunks
      tags:
        - Render
      security:
        - bearerAuth: []
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
          example: job_abc123xyz
        - name: last_chunk
          in: query
          schema:
            type: integer
            default: -1
          description: Return chunks after this chunk ID. Use -1 for first poll.
        - name: timeout
          in: query
          schema:
            type: integer
            default: 30
            maximum: 60
          description: Max seconds to wait
      responses:
        '200':
          description: Poll response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PollResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/render/{job_id}/download:
    get:
      summary: Download Video
      description: Download the completed video. Only available when job status is complete. Returns a 302 redirect to the CDN URL.
      operationId: downloadRenderVideo
      tags:
        - Render
      security:
        - bearerAuth: []
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
          example: job_abc123xyz
      responses:
        '302':
          description: Redirect to CDN URL
          headers:
            Location:
              schema:
                type: string
                format: uri
              description: CDN URL for the video file
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Job not found or not complete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
